---
import MainLayout from "../layout/MainLayout.astro"
import Card from "../components/Card.astro"
import Header from "../components/Header.astro";
var apiKey = `${import.meta.env.API_KEY_1}` ;

const url = "https://newsapi.org/v2/top-headlines?category=sports&country=us&apiKey="+apiKey ; 
const response = await fetch(url);
const data = await response.json();
const articles = data.articles;
console.log(articles);

---

<MainLayout title="sports" client:load>
	<main>
        <Header/>
        {
			articles.map(item => (
				<Card title={item.title} author={item.author} link={item.url} img={item.urlToImage} publishDate={item.publishedAt}/>
			))
		}
	</main>
</MainLayout>




