---
import MainLayout from "../layout/MainLayout.astro"
import Card from "../components/Card.astro"
import Header from "../components/Header.astro";
const response = await fetch("https://newsapi.org/v2/top-headlines?category=sports&country=us&apiKey=123a686228a14291b3ebf405805ac69e");
const data = await response.json();
const articles = data.articles;
console.log(articles)
---

<MainLayout title="sports">
	<main>
        <Header/>

		<div class="container">
            {
                articles.map(item => (
                    <Card title={item.title} author={item.author} link={item.url} img={item.urlToImage} publishDate={item.publishedAt}/>
                ))
            }
        </div>
	</main>
</MainLayout>


<style>
    .container{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-around;
        
    }
</style>


