---
const {title, author, link, img,publishDate, content} = Astro.props;
---


    <div id="card">
        <a href={link} target="_blank" >
            <div id="preview">
                    <h1 class="card--title">{title}</h1>
                    <p>By: {author}</p>
                <div class="card--image">
                    <img src={img} alt="image" class="image">
                </div>
                <div class="little--info">
                    <p>Publier le {publishDate}</p>
                    <span>Click on the card for more</span>
                </div>
            </div>
        </a>

    </div>

    

<style>
    #card{
        width: 80%;
        border: 2px solid black;
        border-radius: 5px;
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
       


    }

    .card--image{
        max-width: fit-content;
        height: auto;
        
        justify-content: center;
    }
    .image{
        width: 100%;
    }
    .little--info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    button{
        background: none;
        width: 70%%;
        border: none;
    }
    a{
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
    .big--link:hover{
        background-color: rgb(162, 160, 160);
    }
</style>

<script>
    /*const card = document.querySelector("#card");
    const preview = document.querySelector("#preview")
    const more = document.querySelector("#more")

    card.addEventListener('click', ()=>{
        preview.setAttribute("hidden" , "hidden")
        more.removeAttribute("hidden")
    })
    */
</script>