---
const {title, author, link, img,publishDate, content} = Astro.props;
---
<div id="card">

    <div id="preview">
        <h1 class="card--title">{title}</h1>
        <p>Auteur: {author}</p>
        <img src={img} alt="image" class="card--image">
        <p>Publier le {publishDate}</p>
    </div>
    <div id="more" hidden>
        <p>{content}</p>
    </div>
</div>
    

<style>
    #card{
        width: 80%;
        border: 2px solid black;
        border-radius: 5px;
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;


    }

    .card--image{
        width: 70%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }

    button{
        background: none;
        width: 70%%;
        border: none;
    }
</style>

<script>
    const card = document.querySelector("#card");
    const preview = document.querySelector("#preview")
    const more = document.querySelector("#more")

    card.addEventListener('click', ()=>{
        preview.setAttribute("hidden" , "hidden")
        more.removeAttribute("hidden")
    })
</script>